<!DOCTYPE html>
<html  lang="zh">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link type="text/css"  rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/bootstrap/3.3.1/css/bootstrap.min.css"> 
    <link type="text/css"  rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/bootstrap/3.3.1/css/bootstrap-theme.min.css"> 
  </head>
  <body>
    <div id='layout'></div>
  </body>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="http://ssys/ssys.js"></script>
    <script type="text/javascript" src="http://ssys/O.js"></script>
    <script type="text/javascript" src="http://ssys/View.js"></script>
    <script type="text/javascript" src="http://ssys/view/Input.js"></script>
    <script type="text/javascript" src="http://ssys/view/StarRater.js"></script>
    <script type="text/javascript" src="http://ssys/App.js"></script>
    <script type="text/javascript" src="http://ssys/User.js"></script>
    <script type="text/javascript" src="http://ssys/Resource.js"></script>
    <script type="text/javascript" src="http://ssys/Model.js"></script>
    <script type="text/javascript" src="http://ssys/Collection.js"></script>
    <script type="text/javascript" src="http://ssys/ModelView.js"></script>
    <script type="text/javascript" src="http://ssys/ResourceView.js"></script>
    <script type="text/javascript" src="http://ssys/CollectionView.js"></script>
    <script type="text/javascript" src="http://ssys/CreateView.js"></script>
    <script type="text/javascript">
      
    </script>    
</html>
